{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block title %}
    Reset Your Password
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <h1 class="text-2xl text-center font-bold pt-6">
        Can't remember your password? 
    </h1>
    <p class="text-center">
        Enter your email address. If your email address exists, we'll send an email verification with instructions to reset your password.
    </p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="login">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="primaryAction text-white font-semibold" type="submit">
            Reset Password
        </button>
    </form>
    <p class="text-center">
        Contact us if you are unable to reset your password.
    </p>
    
    <p class="text-center">
        <a href="{% url 'account_login' %}" class="button secondaryAction font-bold underline">
           &#9668; Back to login
        </a>
    </p>
{% endblock %}