{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    {% include "includes/header.html" %}
    <h1 class="text-2xl text-center font-bold">
        Sign up
    </h1>
    <p class="text-center">
        Already have an account? Then please <a href="{{ login_url }}" class="font-bold underline">sign in</a>.
    </p>
    <form action="{% url 'account_signup' %}" id="signup_form" class="signup" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="primaryAction text-white font-semibold">
            Sign up
        </button>   
    </form>
    <p class="text-center">
        <a href="{% url 'account_login' %}" class="button secondaryAction font-bold underline">
           &#9668; Back to login
        </a>
    </p>
{% endblock %}