{% load thumbnail %}

<div id="friend" class="{{ post.author.username }}">
    <div class="flex justify-between items-center mt-4">
        <!-- {% if request.user.is_authenticated %}     -->
            <!-- {% endif %} -->
        <div>
            {# User needs a link to their bio and a photo and thumbnail and a name #}
            <a class="flex items-center" href="{% url 'profiles:detail' post.author.username %}">
                {% thumbnail post.author.profile.image "373x373" crop="center" as im %}
                    <img class="mx-4 w-20 h-20 object-cover rounded-full hidden sm:block float-right" src="{{ im.url }}" alt="avatar">
                {% endthumbnail %}
                <h1 class="text-gray-700 font-bold">{{ post.author.username }}</h1>
            </a>
        </div>
    </div>
</div>
